/* golden #EEC61F   RGB Values	(238, 198, 31)   CMYK Values	(0%, 17%, 87%, 7%)
metallic gold #d4af37 RGB Values	(212, 175, 55) CMYK Values	(0%, 17%, 74%, 17%)
sunburst  #F1C902  RGB values (241, 201, 2) cmyk  (0%, 17%, 99%, 6%)  */
@font-face {
    font-family: angelic;
    src: local('angelic'), url('./Angelic.woff') format('woff');
}
.container
{
    font-family: angelic;
    font-weight: 100;
}
.sun-logo {
    animation: sun-logo-spin infinite 40s linear;
} 

@keyframes sun-logo-spin{
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.dpShadow {
    filter: drop-shadow(0px 0px 8px #F1C902);
}

.change-my-color {
    fill: green;
  }